h1 {
  color: deepskyblue
}

h2{
  color: deepskyblue
}

h3{
  color: deepskyblue
}

h4{
  color: deepskyblue
}

h5{
  color: deepskyblue
}

h6{
  color: deepskyblue
}

h7{
  color: deepskyblue
}

h8{
  color: deepskyblue
}
p{
  color:deeppink
}

body{
  background-color: white

}